.auth-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.signup-container {
  width: 100%;
  max-width: 600px;
  font-family: 'satoshi';
  margin: 150px 0;
  padding: 50px 50px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
  
.signup-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-family: 'InterBold';
}
  
.signup-container .subtitle {
  text-align: center;
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1.5rem;
}
  
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  text-align: left;
}
  
.group-container {
  display: flex;
  gap: 30px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
}
  
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
  
input:focus {
  outline: none;
  border-color: #007bff;
}
  
.error {
  border-color: #dc3545;
}
  
.error-message {
  color: #dc3545;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
  
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  text-align: center;
}
  
.form-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: #555;
  margin: 1rem 0;
  width: 100%;
}
  
.form-options a {
  color: #007bff;
  text-decoration: none;
}
  
button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
button[type="submit"]:hover {
  background-color: #111111ec;
}
 
button[disabled] {
  background-color: #9ec5fe;
  cursor: not-allowed;
}
  
.signin-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
}
  
.signin-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  .signin-container {
    margin: 1rem;
    padding: 1.75rem;
  }    
  .form-options {
    align-items: flex-start;
    gap: 0.75rem;
  }  

  .f-images {
    display: none;
  }
}

@media (max-width: 500px) {
  .signin-container {
    margin: 1rem;
    padding: 1.75rem;
  }    
  .form-options {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
  }

  /* .forgot-password {
    align-self: flex-end;
  } */
  .f-images {
    display: none;
  }
}
  