@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InterBold';
  src: url('/fonts/Inter-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

