@import url('./fonts/fonts.css');

:root {
  
}
#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  font-family: 'InterBold';
  font-size: 7rem;
  color: #1111112d;
}
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #d1dbf8, #ffffff);
}

.head-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  border: 1px solid #1111112d;
  border-radius: 10px;
}

.features-content, 
.how-it-works-content,
.pricing-content,
.testimonial-content,
.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-container,
.features-container, 
.how-it-works,
.pricing-container,
.testimonial-container,
.call-to-action {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'satoshi';
  font-weight: bolder;
}
