@import url('./fonts/fonts.css');

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  font-family: 'InterBold';
  font-size: 7rem;
  color: #1111112d;
}
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #d1dbf8, #ffffff);
}

.head-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border: 1px solid #1111112d;
    border-radius: 10px;
}